<div class="border-bottom row" style="margin-bottom: 16px ; padding-bottom: 8px;">
    
    <div class="col-10">
        <h4 style="color: rgb(120,120,120); margin-bottom: 4px;">{{ c['name']}}</h4>
    

    <div>
        <b>Instructor:</b> {{ c['Instructor']}}
    </div>

    {% if 'cost' in c %}
    <div>
        <b>Cost:</b> {{ c['cost']}}
    </div>
    {% endif %}
    </div>

    <div class="col-2">
        <a href="mailto:jadevictor247@gmail.com?subject=Registration%20for%20{{c['name']}}&body=My%20name%3A%20%3CYour%20name%3E%0D%0AMy%20email%3A%20%3CYour%20email%3E%0D%0AMy%20number%3A%20%3CYour%20number%3E" type="button" class="btn btn-outline-primary float-right align-middle">Register</a>
    </div>

</div>
<!--  -->