<!-- <nav class="navbar bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="/static/Linsoft Cybernetic logo.jpg 3d.jpg" alt="logo" width="30" height="24">
      </a>
    </div>
  </nav> -->

  <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top bg-white">
    <div class="container-fluid">
        <img src="/static/Linsoft Cybernetic logo.jpg 3d.jpg" alt="logo" width="30" height="24">

      <a class="navbar-brand" href="#">Navbar</a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="#">Courses</a>
          <a class="nav-link" href="#">Pricing</a>
          <a class="nav-link disabled" aria-disabled="true">----</a>
        </div>
      </div>
    </div>
  </nav>
  <div style="height: 56px;"></div>